# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Prisma
prisma/*.db
prisma/migrations/dev/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Testing
coverage/
